@model List<Veiculo>//Aqui é a view da lista
@{
    ViewData["Title"] = "Lista de Veículos";
}

<h2>Veículos Cadastrados</h2>

@if (Model.Count == 0)
{
    <p>Nenhum veículo cadastrado.</p>
}
else
{
    <ul>
        @foreach (var veiculo in Model)//Aqui ele recebe de lista e vai exibindo.
        {
            <li>@veiculo.Exibirdados()</li>
        }
    </ul>
}
