@{//Aqui é a home, primeira tela do "site"
    ViewData["Title"] = "F&S";
}

<div class="text-center">
    <h1 class="display-4">Concessionaria F&S</h1>
    <p>Compre ou venda seu Veículo com a gente</p>
</div>
